
.container2{
    border: 2px solid black;
    /* margin-bottom: 2px; */
    border-radius: 35px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 22px;
    margin: 1.8em auto;
}





#del{
    background-color: red;
    color: black;
    font-weight: bold;
    /* width: 69px; */
    font-size: 13px;
    /* height: 35px; */
    border-radius: 15px;
}

#del:hover,
#del:focus{
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid;
    box-shadow: 2.5px 2.5px 20px 10px red;
}

#edit{
    background-color: rgb(0, 189, 73);
    color: rgb(0, 0, 0);
    /* width: 69px; */
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
}
#edit:hover{
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid;
    box-shadow: 2.5px 2.5px 20px 10px rgb(0, 189, 73);
}
