*{
    margin: 0px;
    padding:0px;
    font-family: 'Fredoka', sans-serif;
}

.container{
    font-family: 'Fredoka', sans-serif;
    border: 4px solid rgb(63, 65, 63);
    display:flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   /* background-color: #FFFFFF; */
   /* z-index: 4; */
   /* background-color: rgb(243, 167, 167); */
}

#email{
    font-family: 'Fredoka', sans-serif;
    margin-top:3.1rem;
    padding: 0px;
    /* border: 2px solid blue; */
}
#pass{
    font-family: 'Fredoka', sans-serif;
    /* border: 2px solid red; */
    margin: 3rem auto;
    padding: 0px;
}

#text1{
    font-family: 'Fredoka', sans-serif;
    /* border: 2px solid yellow; */
    margin: 3rem;
    padding:0px;
}

#text1 a{
    font-family: 'Fredoka', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
#text1 :hover{
    background-color: rgb(2, 253, 77);
    color: black;
    font-weight: bold;
    
}

/* #buton button{
    border: 2px solid green;
    width:180px;
    padding: 20px 80px;
    margin: 1rem;
    background-color: brown;
    font-size: 50px;
    
    
     

}
 */

.container input{
    font-family: 'Fredoka', sans-serif;
    padding: 20px 20px;
    border: 10px solid white;
    color: white;
    font-size: 18px;
    text-indent: 15px;
    border-radius: 15px;
    outline: none;
    background: none;
    /* border: grey; */
    border-width: 1px;
    letter-spacing:2px;
    width:25rem;
    transition: .3s;

}

.container input:focus{
    font-family: 'Fredoka', sans-serif;
    padding : 25px 25px;
    box-shadow:0 0 15px rgb(64, 66, 65), 0 0 85px gray;
    border: 2px solid gray;
}

.container input::placeholder{
    font-family: 'Fredoka', sans-serif;
    color: gray;
}






button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 12px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:active,
  button:hover {
    outline: 0;
  }
  
  button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  button:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    button {
      font-size: 24px;
      min-width: 196px;
    }
  }

  .w{
    background-color: whitesmoke;
    /* color: aqua; */
    z-index: 2;
    height: 120vh;
    width: 100vw;
    opacity: 0.7;
    position: relative;
    /* display: flex; */
    
    
  }

  #f{
    /* background-color: rgba(255,255,255,0.9); */
    top: 3rem;
    border: 6px solid green;
    padding: 6rem 4rem ;
    display:flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   /* background: #9152f8;
   background: -webkit-linear-gradient(top, #7579ff, #b224ef);
   background: -o-linear-gradient(top, #7579ff, #b224ef);
   background: -moz-linear-gradient(top, #7579ff, #b224ef);
   background: linear-gradient(top, #7579ff, #b224ef); */
   color: #FFFFFF;
   background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#7579ff);
  }

  #dd{
    background-color: rgba(255,255,255,0.9);
  }